/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

/* LAYOUT */

/* .container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1024px;
    margin: 0 auto;
} */

.container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* STYLE HEADER*/
.page-header {
    background-color: #0084FD;
    color: rgba(255, 255, 255, 0.884);
}

.page-header .col {
    padding: 10px 18px;
}

#link-header {
    display: none;
    gap: 20px;
}

#get-start {
    background-color: white;
    color: rgba(0, 0, 0, 0.692);
    padding: 5px 9px;
    border-radius: 999px;
}

/* STYLE PAGE-HERO */
/* .page-hero */ .col {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 20px;
}

.page-hero .card-body {
    /* flex-direction: column;
    align-items: flex-start; */
    gap: 30px;
    padding: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page-hero .card-img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-img img{
    display: block;
}

/* ***** paragrafo ***** */
.p-c_b {
    line-height: 25px;
    color: #536776;
}
/* ********************* */

.font-size-icon_hero {
    font-size: 70px;
}

.page-hero .card {
    border-radius: 20px;
    padding: 24px;
    gap: 30px;
}

/* STYLE PAGE-PANNING */
.page-planning {
    margin-top: 70px;
    background-color: #9593E6;
    padding-bottom: 50px;
    padding-top: 15px;
}

.page-planning #title-planning {
    margin-top: 60px;
    padding-bottom: 40px;
}

/* style page-planning-2 */
.page-planning .card {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 18px;
    padding-left: 18px;
}

.page-planning .card h2 {
    padding-top: 10px;
    padding-bottom: 15px;
}

.page-planning .card i {
    margin-top: 25px;
    padding: 20px;
    background-color: #9792E4;
    border-radius: 9999px;
    line-height: 10px;
}

/* STYLE PAGE-TESTIMONIALS */
.page-testimonials .col {
    text-align: center;
    line-height: 35px;
}

.col-testimonials h6 {
    margin: 25px 0;
}

.col-testimonials h2 {
    color: #9792E4;
    margin: 30px 0;
}

.page-testimonials .card {
    background-color: #9792E4;
    padding: 20px;
    color: white;
    border-radius: 50px;
}

.page-testimonials .col img{
    margin-top: 25px;
    border-radius: 999px;
    width: 210px;
    min-width: 210px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.page-testimonials .name-testimonials {
    margin-top: 30px;
    font-weight: 600;
}

/* PAGE-BENEFITS */
.page-benefits {
    background-color: #9792E4;
    margin-top: 70px;
    padding-bottom: 50px;
}

.title-benefits {
    color: white;
    font-size: 25px;
    padding: 30px 0;
    text-align: center;
}

.card-benefits {
    background-color: white;
    padding: 30px 20px;
    border-radius: 20px;
}

.number-benefits {
    font-size: 40px;
    color: #9792E4;
    font-weight: 800;
    margin-bottom: 20px;
}

.h4-benefits {
    color: #9792E4;
    font-weight: 1000;
    margin-bottom: 20px;
    font-size: 20px;
}

.page-benefits .button{
    padding: 5px 20px;
    color: white;
    background-color: #9792E4;
    border-radius: 20px;
    margin-top: 20px;
    display: block;
    max-width: 100px;
    text-align: center;
}

/* SECTION ABOUT */
.about {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.title-about {
    color: #9792E4;
    font-weight: 900;
    font-size: 40px;
}

.p-about {
    line-height: 30px;
    padding: 20px 0;
}

.about-img {
    border-radius: 50%;
    max-width: 250px;
}

.container-img-about {
    position: relative;
    margin-top: 20px ;
}

.marks-about {
    position: absolute;
    top: 0px;
    right: 99px;
    font-size: 70px;
    color: #9792E4;
}

.p-about-bottom {
    color: #9792E4;
    font-weight: 900;
    font-size: 25px;
    padding: 20px 0;
}

/* UTILITY */
.flex {
    display: flex;
}

.align-items_flex-start {
    align-items: flex-start;
}

.flex-direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.color-hero {
    color: #0082FD;
}

.button-hero {
    background-color: #0082FD;
    color: white;
    padding: 5px 40px;
    border-radius: 999px;
}

.background-card-hero {
    background-color: #B5DDFF;
}

.padding-right-6 {
    padding-right: 6px;
}

.text-align-center {
    text-align: center;
}

.color-white {
    color: white;
}

.line-height_25 {
    line-height: 30px;
}

/* MEDIA QUERY */
@media screen and (min-width: 524px) {
    .container {
        max-width: 700px;
    }

    .page-hero .col {
        width: calc(4 * 100% / 12);
    }

    .page-hero .col-lg {
        width: calc(8 * 100% / 12);
    }

    .page-hero .row {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .page-hero .height-100{
        height: 100%;
    }

    .page-planning #title-planning {
        font-size: 40px;
    }

    .page-testimonials .card {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .page-testimonials .container {
        max-width: 700px;
    }

    .page-testimonials .col {
        text-align: start;
    }

    .page-testimonials .col-testimonials {
        text-align: center;
    }

    .page-benefits .col {
        width: calc(6 * 100% /12);
    }

    .col-about {
        width: calc(8*100%/12);
    }

    .col-img-about {
        width: calc(4*100%/12);
    }

    .about .marks-about {
        right: 0;
        top: 0;
    }
}

@media screen and (min-width: 1023px) {
    #link-header {
        display: flex;
        align-items: center;
    }

    .bars {
        display: none;
    }

    .container {
        max-width: 1000px;
    }

    .page-hero .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page-hero .col-lg {
        display: flex;
    }

    .page-hero .card-body {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }

    .page-hero .card-img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .page-planning .container {
        max-width: 800px;
    }

    .page-planning .row {
        flex-wrap: nowrap;
        gap: 20px;
    }

    .page-planning .col-planning-2 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .page-testimonials .card {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .page-testimonials .container {
        max-width: 1000px;
    }

    .page-testimonials .col {
        text-align: start;
    }

    .page-testimonials .col-testimonials {
        text-align: center;
    }

    .page-benefits .col {
        width: calc(4 * 100% /12);
    }
}

/* DEBUG */
