/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

/* LAYOUT */
/* .container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1024px;
    margin: 0 auto;
} */

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* STYLE HEADER*/
.page-header {
    background-color: #0084FD;
    color: rgba(255, 255, 255, 0.884);
}

.page-header .col {
    padding: 10px;
}

#link-header {
    display: none;
    gap: 20px;
}

#get-start {
    background-color: white;
    color: rgba(0, 0, 0, 0.692);
    padding: 5px 9px;
    border-radius: 999px;
}

/* STYLE PAGE-HERO */
.page-hero .col {
    padding: 24px ;
}

.page-hero .card-body {
    /* flex-direction: column;
    align-items: flex-start; */
    gap: 30px;
    padding: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page-hero .card-img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-img img{
    display: block;
}

.p-c_b {
    line-height: 25px;
    color: #536776;
}

.font-size-icon_hero {
    font-size: 70px;
}

.page-hero .card {
    border-radius: 20px;
    padding: 24px;
    gap: 30px;
}

/* UTILITY */
.flex {
    display: flex;
}

.align-items_flex-start {
    align-items: flex-start;
}

.flex-direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.color-hero {
    color: #0082FD;
}

.button-hero {
    background-color: #0082FD;
    color: white;
    padding: 5px 40px;
    border-radius: 999px;
}

.background-card-hero {
    background-color: #B5DDFF;
}

.padding-right-6 {
    padding-right: 6px;
}

.text-align-center {
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (min-width: 400px) {
    .container {
        max-width: 700px;
    }
}

@media screen and (min-width: 1023px) {
    #link-header {
        display: flex;
        align-items: center;
    }

    .bars {
        display: none;
    }

    .container {
        max-width: 1000px;
    }
}

/* DEBUG */
